.form {
    align-content: center;
    width: 40%;
    margin-top: 1rem;
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
}

.form label {
    text-align: left;
    display: block;
    font-size: 14px;
    font-weight: 200;
    margin-left: 0.5rem;
    color: black;
}

.form input {
    width: 100%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    color: white;
    border: 2px solid orange;
    background-color: rgba(63, 61, 59, 0.748);
    height: 3rem;
    font-size: 1rem;
}

.form input:focus {
    box-shadow: 0 2px 8px rgb(10, 10, 10);
    background-color: rgba(63, 61, 59, 0.556);
}

.form button {
    position: absolute;
    display: block;
    margin-top: 1rem;
    color: white;
    box-shadow: 0 2px 8px orange;
    border: 1px solid rgb(14, 14, 13);
    background-color: black;
    border-radius: 12px;
    height: 4rem;
    width: 100%;
    align-self: center;
    font-weight: bolder;
    font-size: larger;
}

.form button:hover {
    background-color: rgba(63, 61, 59, 0.748);
    cursor: pointer;
}

.form p {
    position: absolute;
    margin-top: 5.5rem;
    color: black;
}